################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/backend/.vs
/backend/UserManagement.Api/obj
/backend/UserManagement.Core/obj
/backend/UserManagement.Repository/obj
/backend/UserManagement.Service/obj
/backend/UserManagement.Tests/bin
/backend/UserManagement.Tests/obj
/backend/UserManagement.Api/bin/Debug/net8.0
/backend/UserManagement.Core/bin/Debug/net8.0
/backend/UserManagement.Repository/bin/Debug/net8.0
/backend/UserManagement.Service/bin/Debug/net8.0
